{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
<img class = "second-image" src="static/images/Star-Wars-Logo-3.png" alt="Star Wars Logo">
<div class="movie-block-b1">
    <a href="EP1">
        <div class="card b1">
            <div class="card-image">
                <img src="static/images/Star-Wars-The-Phantom-Menace-I.webp" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Star Wars:<br>The Phantom Manage</h2>
                <p>After a millennia, an ancient evil returns seeking revenge. Meanwhile, Jedi Knight Qui-Gon Jinn discovers Anakin Skywalker: a young slave boy unusually strong with the Force.</p>
            </div>
        </div>
    </a>
    <a href="EP2">
        <div class="card b2">
            <div class="card-image">
                <img src="static/images/Star-Wars-Attack-Clones-II.webp" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Star Wars:<br>Attack of the clones</h2>
                <p>Following an assassination attempt on Senator Padmé Amidala, Jedi Knights Anakin Skywalker and Obi-Wan Kenobi investigate a mysterious plot that could change the galaxy forever.</p>
            </div>
        </div>
    </a>
    <a href="EP3">
        <div class="card b3">
            <div class="card-image">
                <img src="static/images/Star-Wars-Revenge-Sith-III.jpeg" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Star Wars:<br>Revenge Of The Sith</h2>
                <p>The evil Darth Sidious enacts his final plan for unlimited power -- and the heroic Jedi Anakin Skywalker must choose a side.</p>
            </div>
        </div>
    </a>
    <a href="EP4">
        <div class="card b4">
            <div class="card-image">
                <img src="static/images/Star-Wars-New-Hope-IV.webp" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Star Wars:<br>A New Hope</h2>
                <p>With the planet-destroying power of the Death Star, the Empire looks to cement its grip on the galaxy. Meanwhile, farm boy Luke Skywalker rises to face his destiny.</p>
            </div>
        </div>
    </a>
    <a href="EP5">
        <div class="card b5">
            <div class="card-image">
                <img src="static/images/Star-Wars-The-Empire-Strikes-Back-V.webp" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Star Wars:<br>The Empire Strikes Back</h2>
                <p>While the Death Star has been destroyed, the battle between the Empire and the Rebel Alliance rages on...and the evil Darth Vader continues his relentless search for Luke Skywalker.</p>
            </div>
        </div>
    </a>
    <a href="EP6">
        <div class="card b6">
            <div class="card-image">
                <img src="static/images/Star-Wars-Return-Of-The-Jedi-VI.jpeg" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Star Wars:<br>Return Of The Jedi</h2>
                <p>Luke Skywalker leads a mission to rescue his friend Han Solo from the clutches of Jabba the Hutt, while the Emperor seeks to destroy the Rebellion once and for all with a second dreaded Death Star.</p>
            </div>
        </div>
    </a>
    <a href="EP7">
        <div class="card b7">
            <div class="card-image">
                <img src="static/images/Star-Wars-The-Force-Awakens-VII.webp" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Star Wars:<br>The Force Awakens</h2>
                <p>Thirty years after the Battle of Endor, a new threat has risen in the form of the First Order and the villainous Kylo Ren. Meanwhile, Rey, a young scavenger, discovers powers that will change her life -- and possibly save the galaxy.</p>
            </div>
        </div>
    </a>
    <a href="EP8">
        <div class="card b8">
            <div class="card-image">
                <img src="static/images/Star-Wars-The-Last-Jedi-VIII.jpeg" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Star Wars:<br>The Last Jedi</h2>
                <p>Rey has found the legendary Luke Skywalker, hoping to be trained in the ways of the Force. Meanwhile, the First Order seeks to destroy the remnants of the Resistance and rule the galaxy unopposed.</p>
            </div>
        </div>
    </a>
    <a href="EP9">
        <div class="card b9">
            <div class="card-image">
                <img src="static/images/Star-Wars-The-Rise-Of-Skywalker-IX.jpeg" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Star Wars:<br>The Rise Of Skywalker</h2>
                <p>A powerful enemy returns and Rey must face her destiny.</p>
            </div>
        </div>
    </a>
</div>
<h1>Spin-offs</h1>
<div class="movie-block-b2">
    <a href="SO1">
        <div class="card b10">
            <div class="card-image">
                <img src="static/images/Star-Wars-Rogue-One.webp" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Rogue One:<br>A Star Wars Story</h2>
                <p>From Lucasfilm comes the first of the Star Wars standalone films, “Rogue One: A Star Wars Story,” an all-new epic adventure. In a time of conflict, a group of unlikely heroes band together on a mission to steal the plans to the Death Star, the Empire's ultimate weapon of destruction. This key event in the Star Wars timeline brings together ordinary people who choose to do extraordinary things, and in doing so, become part of something greater than themselves.</p>
            </div>
        </div>
    </a>
    <a href="SO2">
        <div class="card b11">
            <div class="card-image">
                <img src="static/images/Star-Wars-Solo.jpeg" class="poster-image" alt="...">
            </div>
            <div class="card-body">
                <h2>Solo:<br>A Star Wars Story</h2>
                <p>Board the Millennium Falcon and journey to a galaxy far, far away in Solo: A Star Wars Story, an all-new adventure with the most beloved scoundrel in the galaxy. Through a series of daring escapades deep within a dark and dangerous criminal underworld, Han Solo meets his mighty future copilot Chewbacca and encounters the notorious gambler Lando Calrissian, in a journey that will set the course of one of the Star Wars saga's most unlikely heroes.</p>
            </div>
        </div>
    </a>
</div>
{% endblock %}
